.flexBasico, .formularioContacto, .sobreNosotros, .novedades__tarjeta, .novedades, .catalogo article div, .catalogo article, .destacados__tarjeta, .destacados {
  display: flex;
  justify-content: center;
  align-items: center;
}

.botonBasico, .formularioContacto button, .botonComprar {
  background-color: #6c5ce7;
  color: #00cec9;
  font-family: OpenSans;
}

.botonBasico:hover, .formularioContacto button:hover, .botonComprar:hover {
  background-color: #00cec9;
  color: #6c5ce7;
}

@font-face {
  font-family: PressStart2P;
  src: url(../fonts/Press_Start_2P/PressStart2P-Regular.ttf);
}
@font-face {
  font-family: OpenSans;
  src: url(../fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf);
}
body {
  background-image: url(../img/assets/background.webp);
  color: #ffffff;
}

h1 {
  text-align: center;
  font-family: PressStart2P;
  color: #6c5ce7;
}

.logo {
  max-width: 80%;
  max-height: 70px;
}

.menuLateral {
  background-image: url(../img/assets/background.webp);
}

.navbar-toggler {
  border: 2px solid #6c5ce7;
  border-radius: 10px;
  padding: 3px 5px;
}

.navbar-toggler-icon {
  filter: invert(25%);
}

.navLink {
  text-decoration: none;
  color: rgba(0, 206, 203, 0.8431372549);
  font-size: 1.5rem;
  font-family: OpenSans;
}

.navLink:hover {
  font-weight: bold;
  color: #6c5ce7;
}

.activa {
  font-weight: bold;
  color: #00cec9;
}

/* Index */
.tituloInicio {
  font-size: 6rem;
  margin: 20px;
}

.tituloInicio span {
  color: #00cec9;
}

.eslogan {
  font-family: OpenSans;
  text-align: center;
  font-size: 3rem;
  margin: 0;
}

.destacados {
  flex-wrap: wrap;
}

.destacados h3 {
  width: 80%;
  text-align: center;
  font-family: OpenSans;
  color: #6c5ce7;
  font-size: 2rem;
  margin: 20px;
}

.destacados__tarjeta {
  flex-direction: column;
  box-sizing: border-box;
  margin: 20px auto;
  padding: auto;
  border: 2px solid #6c5ce7;
  background-color: rgba(108, 92, 231, 0.5019607843);
  width: 300px;
  height: 300px;
  text-align: center;
}

.destacados__tarjeta__puesto {
  color: gold;
  font-size: 1.3rem;
  font-family: PressStart2P;
}

.destacados__tarjeta__nombre {
  color: #00cec9;
  font-size: 1rem;
  font-family: OpenSans;
}

.destacados__tarjeta img {
  max-height: 80%;
  max-width: 90%;
}

/* Productos */
.catalogo h2 {
  text-align: center;
  font-family: OpenSans;
  color: #00cec9;
  margin: 15px;
}

.catalogo article {
  flex-wrap: wrap;
}

.catalogo article div {
  flex-direction: column;
  box-sizing: border-box;
  font-family: OpenSans;
  font-size: 1.5rem;
  background-color: rgba(108, 92, 231, 0.2588235294);
  border: 2px #6c5ce7 solid;
  padding: 8px;
  width: 321px;
  height: 350px;
  margin: 20px auto;
}

.catalogo article div img {
  max-height: 180px;
}

.nombreProducto {
  color: #00cec9;
  margin: 0;
  font-size: 1.1rem;
  font-weight: bold;
}

.precio {
  color: #28a745;
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: bold;
}

.novedades {
  flex-wrap: wrap;
  text-align: center;
  font-family: OpenSans;
}

.novedades__tarjeta {
  flex-direction: column;
  background-color: rgba(108, 92, 231, 0.2588235294);
  height: 270px;
  width: 680px;
  padding: 10px;
}

.novedades__tarjeta h2 {
  color: #6c5ce7;
  font-size: 1.5rem;
  height: 50px;
}

.novedades__tarjeta__fecha {
  color: #00cec9;
  font-size: 1.2rem;
}

.novedades__tarjeta p {
  text-align: justify;
  font-size: 1rem;
}

.sobreNosotros {
  flex-wrap: wrap;
  font-family: OpenSans;
}

.sobreNosotros h2 {
  font-weight: bold;
  font-size: 2rem;
  color: #00cec9;
  text-align: center;
  width: 100%;
}

.sobreNosotros p {
  font-size: 1.5rem;
  text-align: justify;
  width: 700px;
  margin: 20px auto;
  padding: 10px;
}

.sobreNosotros img {
  max-height: 500px;
  margin: auto;
  border: 1px solid #6c5ce7;
}

.formularioContacto {
  flex-direction: column;
  width: 300px;
  border: #6c5ce7 3px solid;
  border-radius: 5%;
  margin: auto;
  background-color: rgba(108, 92, 231, 0.2588235294);
}

.formularioContacto label {
  color: #00cec9;
  font-size: 1.1rem;
  font-weight: bold;
}

.formularioContacto input, .formularioContacto textarea {
  background-color: rgba(0, 206, 203, 0.7137254902);
  border: #6c5ce7 2px solid;
  color: #ffffff;
  width: 250px;
}

.formularioContacto button {
  margin: 15px auto;
  font-weight: bold;
}

footer {
  width: 100%;
}

footer p {
  margin-bottom: 0;
  margin-top: 10px;
  font-size: 1rem;
  font-family: OpenSans;
  text-align: center;
  background-color: rgba(108, 92, 231, 0.2);
}

@media (max-width: 700px) {
  .tituloInicio {
    font-size: 4rem;
  }
  .eslogan {
    font-size: 2.5rem;
  }
  .destacados h3 {
    font-size: 1.7rem;
  }
}
@media (max-width: 500px) {
  .tituloInicio {
    font-size: 3.5rem;
  }
  .eslogan {
    font-size: 2rem;
  }
  .destacados h3 {
    font-size: 1.5rem;
  }
  .sobreNosotros img {
    width: 95%;
  }
  .novedades__tarjeta {
    height: 350px;
  }
}
@media (max-width: 420px) {
  .tituloInicio {
    font-size: 2.5rem;
  }
  .eslogan {
    font-size: 1.5rem;
  }
  .destacados h3 {
    font-size: 1rem;
  }
  .destacados__tarjeta {
    width: 200px;
    height: 200px;
  }
  .destacados__tarjeta img {
    max-height: 120px;
  }
}

/*# sourceMappingURL=style.css.map */
