/* Index */
.tituloInicio{
    font-size: 6rem;
    margin: 20px;
}
.tituloInicio span{
    color: $colorSecundario;
}
.eslogan{
    font-family: OpenSans;
    text-align: center;
    font-size: 3rem;
    margin: 0;
}

.destacados{
    @extend .flexBasico;
    flex-wrap: wrap;
}
.destacados h3{
    width: 80%;
    text-align: center;
    font-family: OpenSans;
    color: $colorPrimario;
    font-size: 2rem;
    margin: 20px;

}
.destacados__tarjeta{
    @extend .flexBasico;
    flex-direction: column;
    box-sizing: border-box;
    margin: 20px auto;
    padding: auto;
    border: 2px solid $colorPrimario;
    background-color: #6c5ce780;
    width: 300px;
    height: 300px;
    text-align: center;
}
.destacados__tarjeta__puesto{
    color: gold;
    font-size: 1.3rem;
    font-family: PressStart2P;
}
.destacados__tarjeta__nombre{
    color: $colorSecundario;
    font-size: 1rem;
    font-family: OpenSans;
}
.destacados__tarjeta img{
    max-height: 80%;
    max-width: 90%;
}

/* Productos */
.catalogo h2{
    text-align: center;
    font-family: OpenSans;
    color: $colorSecundario;
    margin: 15px;
}

.catalogo article{
    @extend .flexBasico;
    flex-wrap: wrap;
}
.catalogo article div{
    @extend .flexBasico;
    flex-direction: column;
    box-sizing: border-box;
    font-family: OpenSans;
    font-size: 1.5rem;
    background-color: #6c5ce742;
    border: 2px $colorPrimario solid;
    padding: 8px;
    width: 321px;
    height: 350px;
    margin: 20px auto;
}
.catalogo article div img{
    max-height: 180px;
}
.nombreProducto{
    color: $colorSecundario;
    margin: 0;
    font-size: 1.1rem;
    font-weight: bold;
}
.precio{
    color: #28a745;
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: bold;
}
.botonComprar{
    @extend .botonBasico;
}