@font-face {
    font-family: PressStart2P;
    src: url(../fonts/Press_Start_2P/PressStart2P-Regular.ttf);
}
@font-face {
    font-family: OpenSans;
    src: url(../fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf)
}